@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    // Color

    // Primary
    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-cyan-faded: hsla(178, 100%, 50%, 0.323);

    // Neutral
    --clr-very-dark-blue-main-BG: hsl(216, 54%, 11%);
    --clr-very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --clr-very-dark-blue-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-custom-gradient-1: hsl(224, 61%, 21%);
    --clr-custom-gradient-2: radial-gradient(circle, rgba(21, 39, 87, 1) 0%, rgba(13, 25, 43, 1) 47%, rgba(47, 65, 91, 1) 100%);

    // Font family
    --ff-regular: 'Outfit', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: var(--clr-custom-gradient-1);
    background: var(--clr-custom-gradient-2);
    font-family: var(--ff-regular);
    font-size: 18px;
    justify-content: center;
    align-items: center;
    // background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

// Utilities
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}


// Custom styles

.container {
    max-width: 1440px;
    position: relative;
}

.card {
    background: var(--clr-very-dark-blue-card-BG);
    padding: 1.5rem 1.5rem;
    gap: 1.8rem;
    max-width: 350px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // background: linear-gradient(0deg, #60efff 0%, #0061ff 100%);
            transform: translate3d(0px, 0px, 0);
            filter: blur(20px);
            opacity: 0.7;
            transition: 0.3s;
            border-radius: inherit;

            animation-name: animation1;
            animation-duration: 900ms;
            animation-delay: 120ms;
            animation-timing-function: cubic-bezier(0, 0.97, 1, 0.04);
            animation-iteration-count: infinite;
        }

        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            border-radius: inherit;
        }

        transform: scale(1.05);
        
    }
}

.nft {
    position: relative;
    
    img {
        border-radius: 15px;
    }

    &:hover .hover-view {
        opacity: 100%;
    }
}

.hover-view {
    position: absolute;
    background: var(--clr-cyan-faded);
    padding: 7rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.content {
    gap: 1.5rem;
}

.title {
    color: var(--clr-white);
}

.description {
    color: var(--clr-soft-blue);
}

.price {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.price-tag {
    color: var(--clr-cyan);
    align-items: center;
    justify-content: center;
    gap: 0.15rem;

    &::before {
        content: "";
        background-image: url("../image/icon-ethereum.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 1.2rem;
        height: 1.2rem;
    }
}

.remaining-time {
    color: var(--clr-soft-blue);
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    &::before {
        content: "";
        background-image: url("../image/icon-clock.svg");
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
    }
}

.seperator {
    background-color: var(--clr-soft-blue);
    height: 1px;
    opacity: 0.3;
}

.author {
    color: var(--clr-white);
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    &::before {
        content: "";
        background-image: url("../image/image-avatar.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        border: 0.7px solid var(--clr-white);
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 420px) {
    body {
        padding-inline: 1.2rem;
    }
}

@keyframes animation1 {
    0% {
        background: linear-gradient(0deg, #60efff 0%, #0061ff 100%);
    }

    5% {
        background: linear-gradient(18deg, #60efff 0%, #0061ff 100%);
    }

    10% {
        background: linear-gradient(36deg, #60efff 0%, #0061ff 100%);
    }

    15% {
        background: linear-gradient(54deg, #60efff 0%, #0061ff 100%);
    }

    20% {
        background: linear-gradient(72deg, #60efff 0%, #0061ff 100%);
    }

    25% {
        background: linear-gradient(90deg, #60efff 0%, #0061ff 100%);
    }

    30% {
        background: linear-gradient(108deg, #60efff 0%, #0061ff 100%);
    }

    35% {
        background: linear-gradient(126deg, #60efff 0%, #0061ff 100%);
    }

    40% {
        background: linear-gradient(144deg, #60efff 0%, #0061ff 100%);
    }

    45% {
        background: linear-gradient(162deg, #60efff 0%, #0061ff 100%);
    }

    50% {
        background: linear-gradient(180deg, #60efff 0%, #0061ff 100%);
    }

    55% {
        background: linear-gradient(198deg, #60efff 0%, #0061ff 100%);
    }

    60% {
        background: linear-gradient(216deg, #60efff 0%, #0061ff 100%);
    }

    65% {
        background: linear-gradient(234deg, #60efff 0%, #0061ff 100%);
    }

    70% {
        background: linear-gradient(252deg, #60efff 0%, #0061ff 100%);
    }

    75% {
        background: linear-gradient(270deg, #60efff 0%, #0061ff 100%);
    }

    80% {
        background: linear-gradient(288deg, #60efff 0%, #0061ff 100%);
    }

    85% {
        background: linear-gradient(306deg, #60efff 0%, #0061ff 100%);
    }

    90% {
        background: linear-gradient(324deg, #60efff 0%, #0061ff 100%);
    }

    95% {
        background: linear-gradient(342deg, #60efff 0%, #0061ff 100%);
    }

    100% {
        background: linear-gradient(360deg, #60efff 0%, #0061ff 100%);
    }
}